

#formulaire
{
	max-height: 600px; 
	overflow-y: auto;
}

#btnAjouter, #btnSupprimer
{
	margin-top: 23px;
}

#ajouter, #supprimer
{
	width: 38px; 
	display: block;
	margin: auto;
}

.add, .sup
{
	color: #337ab7;
}

#results
{
	max-height: 600px; 
	overflow-y: auto; 
	padding-right:10px;
}