

#formulaire
{
	max-height: 450px; 
	overflow-y: auto;
}

#btnAjouter
{
	margin-top: 23px;
}

#ajouter
{
	width: 38px; 
	display: block;
	margin: auto;
}

span
{
	color: #337ab7;
}

#results
{
	max-height: 450px; 
	overflow-y: auto; 
	padding-right:10px;
}